html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  overflow: hidden;
  max-height: 500px;
  position: relative;
  margin: auto;
}

.content {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-55%, -5%);
  max-width: 50em;
  margin: auto;
}

h1 {
  display: inline;
  background-color: rgba(0, 0, 0, .5);
  font-size: 4rem;
  color: #fff;
}

p {
  margin: 0;
  font-size: 2rem;
  font-style: italic;
}
